body {
  font-family: Arial, sans-serif;
  background-color: #06203b;
  color: #faf7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0458b1;
}

.btn-delete {
  background-color: transparent;
  color: rgb(252, 43, 43);
  border: 2px solid rgb(252, 43, 43);
}

.btn-delete:hover{
  background-color: #e17979;
}

.quote {
  font-style: italic;
}

.quote::after,
.quote::before {
  content: '"';
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #05396f;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #0458b1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 5, 0.1);
  width: 25%;
}

.favorite-card button {
  margin-top: auto;
}

.author {
  font-style: italic;
}

.heart-icon {
  margin-left: 16px;
  font-size: 40px;
  /* color: #007bff; */
  color: yellow;
  vertical-align: middle;
  cursor: pointer;
}
